extends ../layouts/index

block contenido
    h1.text-3xl.font-bold.text-center.text-gray-800.shadow=pagina
    form(action="/catalogo/buscar-ticketID" method="GET" class="flex items-center space-x-4 bg-gray-100 p-4 rounded-md shadow-md")
        input(type="text" name="ticketId" placeholder="Buscar ticket por ID" class="border border-gray-300 rounded-md px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500")
        button.bg-blue-500.text-white.font-semibold.px-4.py-2.rounded-md(type="submit") Buscar

    if ticket 
        form(acction="/catalogo/crear-ticket" method="POST" class="bg-white p-8 rounded-lg shadow-lg max-w-lg mx-auto space-y-4")
            div.bg-white.p-6.rounded-md.shadow-md
            div.grid.grid-cols-2.gap-4.mb-4
            label.font-bold.text-gray-700 ID:
            span.text-gray-600=ticket.id

            label.font-bold.text-gray-700 Correo Electrónico:
            span.text-gray-600=ticket.email

            label.font-bold.text-gray-700 Asunto:
            span.text-gray-600=ticket.asunto

            label.font-bold.text-gray-700 IP Computadora:
            span.text-gray-600=ticket.ip

            label.font-bold.text-gray-700 Detalle:
            span.text-gray-600=ticket.detalle_ticket

            //- Input de comentario
            div.mb-4
            label.block.font-bold.text-gray-700(for="comentario") Comentario:
            textarea#comentario.placeholder-gray-500.placeholder-opacity-75.placeholder("Escribe tu comentario aquí...")(
                class="block.w-full.bg-gray-100.border.border-gray-300.rounded-md.px-4.py-2.mt-2 h-40 resize-none"
            )

